<!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading-cursive">let's build something amazing!</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        
                        <p>
                            Master degree certificate number
                            <br>
                            <a href="https://cedulaprofesional.sep.gob.mx/cedula/presidencia/indexAvanzada.action" target="_BLANK">
                                11453626
                            </a>
                        </p>
                        <p>
                            Professional certificate number
                                <br>
                                <a href="https://cedulaprofesional.sep.gob.mx/cedula/presidencia/indexAvanzada.action" target="_BLANK">
                                    7173941
                                </a>
                        </p>

                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}" target="_BLANK">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}

                <div class="col-sm-8">

                    <table>
                        <tr>
                            <th>
                                <h3 class="section-subheading-table"">About me</h3>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                I am a curious and driven individual with a passion for learning and exploring new ideas.
                                With a background in engineering, I thrive on solving problems and finding innovative solutions.                                
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Let me implement in your project my technical expertise, innovative problem-solving, and dedication to continuous improvement. I excel in developing efficient, scalable solutions and thrive in collaborative environments, ensuring project success. 
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th>Category</th>
                            <th>Skills</th>
                        </tr>
                        <tr>
                            <td class="category">Frontend</td>
                            <td>HTML, CSS, JavaScript, React</td>
                        </tr>
                        <tr>
                            <td class="category">Backend</td>
                            <td>Ruyby on Rails, Go</td>
                        </tr>
                        <tr>
                            <td class="category">Relational databases</td>
                            <td>MySQL, PostgreSQL, MongoDB, SQLite</td>
                        </tr>
                        <tr>
                            <td class="category">No Relational databases (No SQL)</td>
                            <td>MongoDB, Redis, Memcached</td>
                        </tr>
                        <tr>
                            <td class="category">DevOps</td>
                            <td>Docker, AWS ECS, Terraform, CI/CD (github actions)</td>
                        </tr>
                        <tr>
                            <td class="category">Cloud</td>
                            <td>AWS, Heroku</td>
                        </tr>
                        <tr>
                            <td class="category">Mobile</td>
                            <td>Android, Android studio</td>
                        </tr>
                        <tr>
                            <td class="category">Other</td>
                            <td>Git, Agile, Scrum</td>
                        </tr>
                    </table>

                    <table>
                        <th>
                            <h3 class="section-subheading-table"">Beyond my technical skills
                            </h3>
                        </th>
                        <tr>
                            <td>
                                I have a deep appreciation for the arts, particularly music, which inspire me creatively. In my free time, you'll often find me hiking, biking or running in nature, or engrossed in a good reading. In addition I cherish meaningful connections with others
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>