<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">
                        Software Engineer with more than 12 years of experience in the field of IT, 
                        I been worked in a wide range of projects throughout different technologies Backend, 
                        Frontend, mobiles and infrastructure including CI/CD devops process throught the most used cloud technologies. 
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/fitune.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2023 - July 2024</h4>
                                    <h4 class="subheading">
                                        <a href="https://fitune.io" target="_BLANK">fitune.io</a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-details-about">
                                        Developed and maintained the Fitune API, using Ruby on Rails and GraphQL,                                 
                                        developed new features and bug fixing for the Fitune admin and website using Vue.js, 
                                        integration of third-party services through REST APIs
                                        and managed continuous delivery using Heroku
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/clikauto.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2021 - June 2023</h4>
                                    <h4 class="subheading">
                                        <a href="https://clikauto.com" target="_BLANK">clikauto.com</a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-details-about">
                                        Designed the behavior and interaction of microservices using Ruby on Rails,
                                        development and maintainence of Clikauto main API Service using Ruby on Rails,
                                        assist in implementing a DevOps culture within the team, leveraging ECS and GitHub Actions.
                                        integration of third-party services using both REST APIs and SOAP.
                                        managed AWS IAM policies to enforce access restrictions for services and users,
                                        additionally, I collaborated to improve operational tasks and enhance service availability and scalability through technologies ElasticSearch, caching, and DDD.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/arcus.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2017- October 2021</h4>
                                    <h4 class="subheading">
                                        <a href="https://arcusfi.com" target="_BLANK">arcusfi.com</a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-details-about">
                                        collaboration on the development and support of Arcus' Banking service for real-time payments through Mexico's SPEI network.
                                        development and maintainance of Pay, an Arcus product designed as a B2B API service for paying bills from various companies. 
                                        I designed, maintained, and developed Data, an Arcus product that uses reverse engineering and scraping technologies to extract billing information from companies. 
                                        I also designed and developed Change, an Arcus product that changes main payment methods on biller companies' websites using scraping technology with Selenium. 
                                        I integrated third-party services by consuming REST APIs and SOAP for various Arcus products. 
                                        I generated documentation for several Arcus products using tools like Jekyll, Swagger, and Stoplight. Moreover, 
                                        I utilized AWS infrastructure components such as S3 and SQS for some Arcus projects. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/code-freelance.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012 – 2017</h4>
                                    <h4 class="subheading">
                                        <a href="">Freelance</a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-details-about">
                                        Prototype hardware doftware for mobile android application for controlling and monitoring car components
                                        Web application for manage insumes, logistics and statistics reportering for PEPEN Handicraft Bags (Ruby on Rails)
                                        Statistics web app for capturing information and reporting Chronic diseases statistics (JAVA, JSP, Servlets)
                                        Scholar control system web app for the Polytechnic University of Tlaxcala West Region (Ruby on Rails)
                                        Scholar system web app for high school (PHP, Mysql, XAMPP)
                                        Desktop application for inventory control, sales and reportering in a wood store (Java)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br>
                                    Of Our
                                    <br>
                                    Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>