<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">
                    I am an experienced developer and IT professional dedicated to delivering high-quality solutions
                    that help your business thrive in the digital world.
                    Whether you need a simple website or a complex enterprise application, I have the expertise to turn
                    your vision into reality;
                    A wide range of development services includes:
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web Application Development</h4>
                <ul class="styled-list">
                    <li class="text-details-about">
                        Custom Web Development: Tailored solutions to meet your specific business needs.
                    </li>
                    <li class="text-details-about">
                        E-commerce Solutions: Robust online stores with secure payment gateways.
                    </li>
                    <li class="text-details-about">
                        Content Management Systems (CMS): Easy-to-manage websites with popular platforms like WordPress,
                        Joomla, and Drupal.
                    </li>
                    <li class="text-details-about">
                        Responsive Design: Ensuring your website looks great and functions seamlessly on all devices.
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Software Development</h4>
                <ul class="styled-list">
                    <li class="text-details-about">
                        Enterprise Solutions: Scalable software to streamline your business operations.
                    </li>
                    <li class="text-details-about">
                        Custom Software: Building unique software solutions tailored to your specific requirements.
                    </li>
                    <li class="text-details-about">
                        SaaS Development: Creating software as a service applications that are accessible over the
                        internet.
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Mobile Application Development</h4>
                <ul class="styled-list">
                    <li class="text-details-about">
                        Android Development: Developing versatile apps for Android devices.
                    </li>
                    <li class="text-details-about">
                        Cross-Platform Development: Utilizing frameworks like React Native and Flutter to create apps that work on both iOS and Android.
                    </li>
                    <li class="text-details-about">
                        iOS Development: Crafting user-friendly apps for Apple devices using Swift and Objective-C.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">API Development and Integration</h4>
                <ul class="styled-list">
                    <li class="text-details-about">
                        Custom API Development: Building robust APIs to connect various software systems.
                    </li>
                    <li class="text-details-about">
                        Third-Party API Integration: Seamlessly integrating existing APIs into your applications for
                        enhanced functionality.
                    </li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Database Development and Management</h4>
                <ul class="styled-list">
                    <li class="text-details-about">
                        Database Design and Architecture: Creating efficient and scalable database structures.
                    </li>
                    <li class="text-details-about">
                        Database Optimization: Improving performance and speed of your existing databases.
                    </li>
                    <li class="text-details-about">
                        Data Migration and Conversion: Safely transferring data from one system to another.
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">DevOps and Continuous Integration/Continuous Deployment</h4>
                <ul class="styled-list">
                    <li class="text-details-about">
                        Infrastructure as Code (IaC): Automating the provisioning and management of your IT infrastructure.
                    </li>
                    <li class="text-details-about">
                        CI/CD Pipelines: Implementing automated testing and deployment pipelines for faster release cycles.
                    </li>
                    <li class="text-details-about">
                        Monitoring and Logging: Setting up comprehensive monitoring and logging to keep track of system performance and errors.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>